:root {
    --main-color: #00eaca;
    --main-gradient: linear-gradient(333deg, #00dc9f 0%, #2fb2ff 100%)
}

body {
    background: #fafafa
}

@media(min-width:1200px) {
    .container {
        width: 1050px
    }
}

@media(min-width:992px) {
    .container {
        width: 950px
    }
}

.modal-content {
    border-radius: 3px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none
}

.modal-header {
    padding: 10px
}

.form-control {
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #edeeee;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.bg-main .form-control:focus {
    border-color: #fff!important
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: inset none
}

.btn-default {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.btn-default {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.btn-default:hover {
    color: #fff;
    background-color: #1e1e1e;
    border-color: #1e1e1e
}

.btn-main {
    /* background: var(--main-gradient)!important; */
    color: #fff!important;
    transition: all .3s ease-in-out
}

.btn-main:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15)
}

.btn-main:active {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.btn-main:focus {
    box-shadow: none!important
}

.sticky-footer {
    margin-top: 5rem;
    padding: 2rem 0 3rem;
    font-size: .9rem
}

.sticky-footer,
.sticky-footer a {
    color: #9b9b9b
}

.sticky-footer a:hover {
    color: #000
}

.zoomer {
    transition: transform .3s ease-in-out
}

.zoomer:hover {
    transform: scale(1.02)
}

.clickable {
    cursor: pointer
}

.get-back-button {
    color: #1a9ddb;
    background-color: #fff;
    border-color: #1a9ddb;
    padding: 3px 10px;
    transition: all .5s
}

.get-back-button:hover,
.get-back-button:focus,
.get-back-button:active,
.get-back-button.active,
.open .dropdown-toggle.get-back-button {
    color: #fff;
    background-color: #1a9ddb;
    border-color: #1a9ddb
}

.dropdown-toggle-simple::after {
    display: none
}

.dropdown-menu {
    box-shadow: 0 0 20px #00000010;
    border: 0
}

.dropdown-item:active {
    background: var(--main-gradient)
}

.navbar-avatar-image {
    width: 24px;
    height: 24px;
    margin-right: 10px
}

.navbar-main {
    background: #fff!important;
    box-shadow: 0 0 20px #00000010
}

.navbar-main .navbar-brand {
    color: #3d3b3c!important;
    font-size: 1.1rem
}

.navbar-main .navbar-nav>li>a {
    font-size: .9rem;
    color: #595758;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar-main .navbar-nav>li>a:hover {
    color: #403f3f
}

.navbar-menu-margin {
    margin-bottom: 3rem
}

.navbar {
    min-height: 0!important
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #3b4f5e;
    border-color: #3b4f5e
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #3b4f5e
}

.label-store {
    font-size: 60%
}

.media-store {
    margin-top: 25px
}

.media-store-disabled {
    opacity: .5
}

.paypal-submit {
    width: 100px;
    height: auto
}

.bg-main {
    background: var(--main-gradient)!important;
    transition: background 1s
}

.text-main {
    color: var(--main-color)
}

.bg-instagram {
    background: #f75581;
    background: linear-gradient(333deg, #c32dca 0%, #ffbb3e 100%)
}

.index-container {
    min-height: 480px;
    margin-top: 3rem;
    background: url(../images/index.svg);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 40%
}

@media(max-width:768px) {
    .index-container {
        background: #fff
    }
}

@media(min-width:1660px) {
    .index-container {
        background-size: 30%
    }
}

.faded-container {
    background: linear-gradient(333deg, #009fdc 0%, #aa2fff 100%)!important;
    padding: 9rem 0
}

.index-header-text {
    font-size: 3rem;
    padding-top: 5rem
}

.index-subheader-text {
    color: #6c757d
}

.index-header-button {}

.index-block-margin {
    margin: 8rem 0
}

.container-animated-up {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 1.3s
}

.dropdown .dropdown-menu {
    animation-name: ex;
    animation-duration: .3s
}

@keyframes ex {
    from {
        opacity: .3
    }
    to {
        opacity: 1
    }
}

.chart-container {
    position: relative;
    margin: auto;
    height: 250px;
    width: 100%
}

.admin-widget-chart-container {
    position: relative;
    margin: auto;
    height: 50px;
    width: 100%
}

.card-shadow {
    box-shadow: 0 0 20px #00000010;
    border: 0
}

.card-small-text {
    font-size: .85rem;
    line-height: 1rem;
    text-transform: lowercase
}

.bg-shadow {
    box-shadow: 2px 2px 10px 0 #88888866
}

.profile-html {
    min-height: 100%
}

.profile-body {
    font-family: montserrat, sans-serif;
    background: #f5f5f5;
    background: linear-gradient(-45deg, rgba(245, 245, 245, 1) 1%, rgba(250, 250, 250, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%
}

.profile-button-addition {
    white-space: normal;
    word-wrap: break-word;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: .3rem;
    box-shadow: 0 0 20px #00000010;
    border: 0;
    transition: opacity .3s, background .3s
}

.profile-button-addition:hover {
    opacity: .9
}

#profile_button:hover {
    border: 3px solid red;
    opacity: .9;
    background: 0 0
}

.profile-verified-badge {
    color: #3897f0
}

.profile-settings-avatar {
    max-width: 165px;
    max-height: 165px;
    cursor: pointer
}

.profile-background-enabled .profile-header,
.profile-background-enabled .profile-description {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4)
}

[type=radio][name=color] {
    visibility: hidden
}

.round-shape {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    margin: 5px;
    transition: opacity .3s
}

.round-shape:hover {
    opacity: .9
}

.bitly-logo {
    width: 20px;
    height: 20px;
    margin: 5px;
    transition: opacity .3s
}

.bitly-logo:hover {
    opacity: .9
}

.pricing-card-pro {
    background: linear-gradient(333deg, #060606 0%, #232323 100%)!important
}

.pricing-card-header-text {
    font-weight: 700;
    letter-spacing: .15rem;
    font-size: .9rem
}

.pricing-card-price-currency {
    font-size: .9rem;
    font-weight: lighter
}

.pricing-card-price {
    font-size: 4.1rem;
    font-weight: lighter
}

.navbar-small-admin-menu {
    background: #2b2b2b!important;
    border: none;
    border-radius: 0;
    font-family: segoe ui, Tahoma, Segoe UI, Arial, sans-serif;
    margin-bottom: 0
}

.navbar-small-admin-brand {
    font-size: .9rem;
    height: 30px;
    padding: .3rem 0 0;
    margin-right: 20px;
    color: #fff
}

.navbar-small-admin-brand:hover {
    color: #fff
}

.navbar-small-admin-nav {
    height: 30px;
    float: none
}

.navbar-small-admin-nav>li>a {
    font-size: .75rem;
    padding-top: .4rem;
    padding-bottom: 0;
    color: #fff;
    opacity: .9
}

.navbar-admin-menu .navbar-nav-admin>li>a {
    color: #fff;
    opacity: .9
}

.navbar-admin-menu .navbar-nav-admin>li>a:hover,
.navbar-admin-menu .navbar-nav-admin>li>a:focus {
    opacity: 1
}

.datepicker-modal {
    z-index: 9999!important
}

.navbar-admin-menu {
    background: #fff;
    border: none;
    border-radius: 0;
    font-family: segoe ui, Tahoma, Segoe UI, Arial, sans-serif;
    margin-bottom: 0
}

.navbar-admin-menu-border {
    background: linear-gradient(333deg, #1DD4CD -0%, #1BDB90 100%);
    min-height: 10px
}

.navbar-admin-nav {}

.navbar-toggler-admin {
    background: rgba(27, 219, 144, .8)
}

.navbar-admin-nav>li>a {
    font-size: 1rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
    padding-left: .8rem!important;
    padding-right: .8rem!important
}

.navbar-admin-brand {
    font-size: 1.1rem;
    padding: 0;
    color: rgba(0, 0, 0, .85)!important;
    transition: all .2s ease-in-out
}

.navbar-admin-brand:hover {
    color: #1bdb90!important
}

.nav-link-admin {
    color: rgba(0, 0, 0, .85)!important;
    transition: all .3s;
    position: relative;
    top: 0
}

.nav-link-admin:hover {
    top: -5px;
    color: #1bdb90!important
}

.rtl body {
    direction: rtl
}

.rtl .container {
    text-align: right
}

.rtl .form-check-input {
    margin-left: 0;
    margin-right: -1.25rem
}

.rtl .btn-get-back {
    padding: .2rem .5rem .3rem
}

.rtl .list-group {
    padding-right: 0
}

.rtl .list-group-item {
    text-align: right
}

.rtl .dropdown-toggle::after {
    margin-right: .255em
}

.rtl .sticky-footer {
    text-align: right
}

.rtl .card {
    text-align: right
}

.rtl .index-search-input {
    margin-right: 0;
    margin-left: .5rem
}

.rtl .index-source-button {
    margin-right: 0;
    margin-left: .5rem
}

.rtl .index-container {
    text-align: right;
    background-position: 20%!important
}

.rtl .dropdown-item {
    text-align: right
}

.rtl .btn-group>.btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

.rtl .btn-group>.btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.rtl .btn-group>.btn:last-child:not(:last-child):not(:first-child) {
    border-radius: 0
}

.rtl .input-group>.form-control:not(:first-child) {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.rtl .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.rtl .datepicker {
    left: auto;
    right: -10000px
}

.rtl .datepicker.active {
    right: unset
}

.rtl .dropdown-menu {
    left: 0;
    right: auto
}

.rtl .input-group-datepicker {
    margin-right: 0;
    margin-left: .5rem
}

.rtl .form-check {
    padding-left: 0;
    padding-right: 1.25rem
}

.blockquote-footer2 {
    display: block;
    font-size: 80%;
    color: #6c757d
}